img {
    width: 400px;
    height: 400px;
}

#BlackPanther {
    width: 250px;
    height: 250px;
}

#BlackWidow {
    width: 250px;
    height: 250px;
}

#CaptainAmerica {
    width: 250px;
    height: 250px;
}

#Hulk {
    width: 250px;
    height: 250px;
}

#IronMan {
    width: 250px;
    height: 250px;
}

#Thanos {
    width: 250px;
    height: 250px;
}

#Thor {
    width: 250px;
    height: 250px;
}

#Vision {
    width: 250px;
    height: 250px;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}